{% load i18n %}

<div class="gcp-wrapper"
     data-existing-path="{{ existing_path }}"
     data-signed-ingress-url="{{ signed_ingress_url }}"
     data-max-size-bytes="{{ max_size_bytes }}"
     data-ingress-path="{{ ingress_path }}">
    <div class="gcp-card">
        <input
            type="hidden" name="{{ widget.name }}"
            {% if widget.value != None and "path" in widget.value %}
            value="{{ widget.value|stringformat:'s' }}"
            {% else %}
            value=""
            {% endif %}
            {% include "django/forms/widgets/attrs.html" %}
        >

        <div class="gcp-card__row">
            {% if console_url is not None %}
                <a href="{{ console_url }}" target="_blank" class="gcp-row__label">
                    <span class="material-symbols-outlined gcp-row__icon">cloud</span>
                    {% trans "Existing cloud path" %}
                </a>
            {% else %}
                <div class="gcp-row__label">
                    <span class="material-symbols-outlined gcp-row__icon">cloud</span>
                    {% trans "Existing cloud path" %}
                </div>
            {% endif %}

            <div class="gcp-row__body">
                <div class="gcp-existing-path">{{ existing_path }}</div>

                <div class="gcp-row-controls">
                    {% if existing_path %}
                        <button type="button" class="gcp-button gcp-button--danger gcp-clear-restore-existing">
                            {% trans "Clear existing" %}
                        </button>
                    {% endif %}

                    {% if download_url is not None %}
                        <a class="gcp-button gcp-download" href="{{ download_url }}" download>
                            <span class="material-symbols-outlined gcp-row__icon">download</span>
                            {% trans "Download" %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="gcp-card__row">
            <div class="gcp-row__label">
                <span class="material-symbols-outlined gcp-row__icon">cloud_upload</span>
                {% trans "Selected for upload" %}
            </div>

            <label class="gcp-file-input-label">
                <input type="file" class="gcp-file-input" accept="{{ accept_mimetype }}"/>
                <span class="gcp-selected-name"></span>
                <span class="gcp-button gcp-select-label">
                    {% trans "Select file" %}
                </span>
            </label>

            {% if not is_required %}
                <div class="gcp-row-controls">
                    <span class="gcp-button gcp-button--danger gcp-clear-selected">
                        {% trans "Clear selection" %}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="gcp-overlay">
    <p class="gcp-overlay-text">
        {% trans "Uploading file, please wait..." %}
    </p>
</div>
