[tool.poetry]
name = "django-gcp"
version = "0.1.0"
description = "Utilities to run Django on Google Cloud Platform"
authors = ["Tom Clark"]
license = "MIT"
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Operating System :: OS Independent",
]
repository = "https://github.com/thclark/django-gcp"
keywords = ["django", "google", "cloud", "gcloud", "gcp"]
packages = [{ include = "django_gcp" },]


[tool.poetry.dependencies]
Django = "^3.0"
python = "^3.8"
google-cloud-storage = "^2.1.0"
google-auth = "^2.6.0"


[tool.poetry.dev-dependencies]
channels = "^3.0.4"
coverage = "^6.2"
pre-commit = "^2.17.0"
pytest-sugar = "^0.9.4"
pytest-django = "^4.5.2"
pytest-asyncio = "^0.17.2"
pytest = "^6.2.5"
tox = "^3.24.5"
tox-gh-actions = "^2.9.1"
tox-poetry = "^0.4.1"
sphinx-rtd-theme = "^1.0.0"
sphinx-tabs = "^3.2.0"
sphinx-charts = "^0.0.4"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
