
# Required by the python script for building documentation

# NOTE!!!
#
# If you alter these, you must also alter the dependencies in .pre-commit-config.yaml because
# frustratingly, pre-commit can't be pointed to a file.

Sphinx>=9,<10
sphinx-rtd-theme>=3,<4
sphinx-tabs>=3.4,<4
sphinx-math-dollar>=1.2,<2
